*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(94, 94, 94);
  display: flex;
  justify-content: center;
  cursor: default;
}

.slider__wrapper {
  width: 60vw;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(40, 40, 40);
}

/*_________________Slides_________________*/

.slides {
  list-style: none;
  height: 40vh;
  /* width: 100%; */
  overflow: hidden;
  display: flex;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  /* transform: translateX(-100%); */
  transition: transform 0.2s linear;
}

.slide__img {
  height: 100%;
}

/*_________________Slider bottom_________________*/

.slider__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.slides__text {
  list-style: none;
  width: 50%;
}

.slider__controls {
  display: flex;
}
