*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(94, 94, 94);
  display: flex;
  justify-content: center;
  cursor: default;
}

.slider__wrapper {
  width: 60vw;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(40, 40, 40);
}

/*_________________Slides_________________*/

.slides {
  list-style: none;
  height: 50vh;
  overflow: hidden;
  display: flex;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s linear;
}

.slide__img {
  height: 100%;
  object-fit: cover;
}

#btn-1:checked ~ .slides > .slide,
#btn-1:checked ~ .slider__bottom > .slides-text__wrapper > .slide__text {
  transform: translateX(0);
}

#btn-2:checked ~ .slides > .slide,
#btn-2:checked ~ .slider__bottom > .slides-text__wrapper > .slide__text {
  transform: translateX(-100%);
}

#btn-3:checked ~ .slides > .slide,
#btn-3:checked ~ .slider__bottom > .slides-text__wrapper > .slide__text {
  transform: translateX(-200%);
}

#btn-4:checked ~ .slides > .slide,
#btn-4:checked ~ .slider__bottom > .slides-text__wrapper > .slide__text {
  transform: translateX(-300%);
}

/*_________________Slider bottom_________________*/

.slider__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.slides-text__wrapper {
  list-style: none;
  width: 50%;
  overflow: hidden;
  display: flex;
}

.slide__text {
  min-width: 100%;
  transition: transform 0.3s linear;
}

.slider__controls {
  display: flex;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.slider__controls label {
  height: 1.7rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

.slider__controls label:before {
  content: "";
  display: inline-block;
  border: none;
  height: 1.1rem;
  width: 1.1rem;
  background-color: grey;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}

.slider__controls label:hover:before {
  background-color: rgb(145, 10, 10);
}

#btn-1:checked
  ~ .slider__bottom
  > .slider__controls
  > label[for="btn-1"]:before,
#btn-2:checked
  ~ .slider__bottom
  > .slider__controls
  > label[for="btn-2"]:before,
#btn-3:checked
  ~ .slider__bottom
  > .slider__controls
  > label[for="btn-3"]:before,
#btn-4:checked
  ~ .slider__bottom
  > .slider__controls
  > label[for="btn-4"]:before {
  background-color: transparent;
  border: solid 4px rgb(145, 10, 10);
}
